{% extends "base.html" %}
{%block title%}Bibloteca{% endblock %}
{%block content%}

<h1>Bibloteca</h1>
<table  class="table">
    <thead class="thead-dark">
        <tr>
            <th>Titulo</th>
            <th>Genero</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Edicion</th>
        </tr>
    </thead>
        {%for individuales in libros%}
        <tr>
            <td>{{individuales['Titulo']}}</td>
            <td>{{individuales['Genero']}}</td>
            <td>{{individuales['Autor']}}</td>
            <td>{{individuales['Editorial']}}</td>
            <td>{{individuales['Edicion']}}</td>
        </tr>
        {%endfor%}
</table>
{% endblock %}